* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f7fb;
    color: #222;
    transition: 0.3s;
}

.dark {
    background: black;
    color: red;
}

header {
    background: linear-gradient(135deg, #4f46e5, #06b6d4);
    padding: 60px 20px;
    text-align: center;
    color: white;
}

.profile img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 15px;
    object-fit: cover;
}

.buttons {
    margin-top: 20px;
}

.btn {
    background: white;
    color: #4f46e5;
    padding: 10px 18px;
    border-radius: 25px;
    text-decoration: none;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: #e0e7ff;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    background: #020617;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

section {
    padding: 60px 20px;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    color: #4f46e5;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.project p {
    margin: 10px;
    font-size: 18px;
}

footer {
    background: #020617;
    color: white;
    text-align: center;
    padding: 20px;
}